{% extends "base.html" %}
{% block titulo %} Lista de libros {% endblock %}

{% block contenido %} 

<div class="card">
    <div class="card-header">
        <a name="" id="" class="btn btn-success" href="{% url 'crear' %}" role="button">Crear libro</a>
    </div>
    <div class="card-body">
        <h4 class="card-title">Libros</h4>

            <div class="table-responsive">
                <table class="table table-secondary">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Titulo</th>
                            <th scope="col">Descripcion</th>
                            <th scope="col">Imagen</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for libro in libros %}
                        <tr class="">
                            <td scope="row">{{libro.id}}</td>
                            <td>{{libro.titulo}}</td>
                            <td>{{libro.descripcion}}</td>
                            <td>
                                <img src=" {{libro.imagen.url}}", style="width: 5cm;"/>
                            </td>
                            <td> <a name="" id="" class="btn btn-info" href="{% url 'editar' libro.id %}" role="button">Editar</a>
                                 |
                                 <a name="" id="" class="btn btn-danger" href="{% url 'eliminar' libro.id %}" role="button">Borrar</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            
        </p>
    </div>
    <div class="card-footer text-muted">
    </div>
</div>

{% endblock %}
